<div class="contact-section">
  <div class="contact">
    <h3 class="title">You can also reach us through</h3>
    <hr />
    <div class="row">
      <img src="../../../../../assets/svg/support-footer-icons/distance.svg" />
      &nbsp; 177A Moshood Olugbani Street, VI, Lagos
    </div>
    <div class="row">
      <img
        src="../../../../../assets/svg/support-footer-icons/phone_enabled.svg"
      />
      &nbsp; +23470-0000-0383
    </div>
    <div class="row">
      <img src="../../../../../assets/svg/support-footer-icons/drafts.svg" />
      &nbsp; customercare&#64;cashtoken.ng
    </div>
  </div>

  <div class="socials">
    <h3 class="title">Social Network</h3>
    <hr />
    <div class="row">
      <img
        src="../../../../../assets/svg/support-footer-icons/facebook 1.svg"
      />
      &nbsp; CashToken
    </div>
    <div class="row">
      <img src="../../../../../assets/svg/support-footer-icons/twitter 1.svg" />
      &nbsp; &#64;CashToeknHQ
    </div>
    <div class="row">
      <img
        src="../../../../../assets/svg/support-footer-icons/instagram-logo 1.svg"
      />
      &nbsp; &#64;Cashtoeknhq
    </div>
    <div class="row">
      <img src="../../../../../assets/svg/support-footer-icons/youtube 3.svg" />
      &nbsp; CashToeknHQ
    </div>
  </div>
</div>
