<app-page-wrap>
  <div class="wallet-container">
    <section class="card-section">
      <app-card [borderColor]="'1px solid #B1A9A9'">
        <div class="card-content">
          <div class="left">
            <img [src]="cardData.icon" [alt]="cardData.label1" />
            <div class="wallet-balance">
              <div class="amount-display">
                <h4 *ngIf="isVisibleEye">
                  {{ cardData.amount | currency : "₦" }}
                </h4>
                <div class="asteriks" *ngIf="!isVisibleEye">****</div>
              </div>
              <div class="togglers">
                <span
                  class="eyeIcon"
                  (click)="toggleWalletBallance()"
                  *ngIf="isVisibleEye"
                  nz-icon
                  nzType="eye-invisible"
                  nzTheme="outline"
                ></span>
                <span
                  class="eyeIcon"
                  (click)="toggleWalletBallance()"
                  *ngIf="!isVisibleEye"
                  nz-icon
                  nzType="eye"
                  nzTheme="outline"
                ></span>
              </div>
            </div>

            <h6>{{ cardData.label1 }}</h6>
          </div>
          <div class="withdraw-btn-wrap">
            <primary-button
              (clickEvent)="showWithdrawModal()"
              [text]="'Withdraw'"
              [width]="'100%'"
            ></primary-button>
          </div>
        </div>
      </app-card>
    </section>

    <!-- ...............wallet forms............ -->
    <section class="form-section">
      <h2>Filter Wallet Transactions</h2>
      <form
        (ngSubmit)="onSubmitFilterForm()"
        [formGroup]="filterForm"
        class="filter-form"
      >
        <div class="form-wrap">
          <div class="form-item">
            <app-input
              formControlName="amount"
              [type]="'text'"
              [label]="'Amount'"
            ></app-input>
          </div>
          <div class="form-item">
            <app-input
              formControlName="reference"
              [type]="'text'"
              [label]="'Reference'"
            ></app-input>
          </div>

          <div class="form-item">
            <app-select-dropdown
              [label]="'Status'"
              formControlName="status"
              [size]="'large'"
              [options]="optionsArray"
            ></app-select-dropdown>
          </div>

          <div class="form-item">
            <app-input
              formControlName="destination"
              [type]="'text'"
              [label]="'Destination'"
            ></app-input>
          </div>
          <div class="form-item">
            <app-date-picker
              [placeholder]="'.'"
              [label]="'Start Date'"
              formControlName="startDate"
            ></app-date-picker>
          </div>
          <div class="form-item">
            <app-date-picker
              [placeholder]="'.'"
              formControlName="endDate"
              [label]="'End Date'"
            ></app-date-picker>
          </div>
        </div>
        <div class="btn-wrapper">
          <primary-button
            [text]="'Click to filter'"
            type="submit"
          ></primary-button>
          <primary-button
            type="submit"
            [text]="'Download CSV'"
          ></primary-button>
        </div>
      </form>
    </section>

    <!-- -------Only shows on large screens...... -->
    <div class="desktop-table">
      <app-table
        [showPagination]="true"
        [bodyBackground]="'#FFF'"
        [tableHeaders]="headers"
        [tableData]="personData"
        [loading]="loading"
      >
        <tr *ngFor="let row of personData; let i = index">
          <td
            [ngStyle]="{
              'border-bottom-color': '#B1A9A9',
              'text-align': 'left'
            }"
          >
            <div class="flex-table-data">
              <div
                [ngClass]="{
                  'status-circle': true,
                  completed: row.status === 'completed',
                  pending: row.status === 'pending',
                  failed: row.status === 'failed'
                }"
              ></div>
              <div class="status-text">
                <span>
                  {{ row.status | capitalize }}
                </span>
              </div>
            </div>
          </td>
          <td
            [ngStyle]="{ 'border-bottom-color': '#B1A9A9' }"
            [style.text-align]="'center'"
          >
            {{ row.reference | truncate : 10 }}
          </td>
          <td
            [ngStyle]="{ 'border-bottom-color': '#B1A9A9' }"
            [style.text-align]="'center'"
          >
            {{ row.amount }}
          </td>
          <td
            [ngStyle]="{ 'border-bottom-color': '#B1A9A9' }"
            [style.text-align]="'center'"
          >
            {{ row.destination | truncate : 10 }}
          </td>
          <td
            [ngStyle]="{ 'border-bottom-color': '#B1A9A9' }"
            [style.text-align]="'center'"
          >
            {{ row.createdAt | truncate : 10 }}
          </td>
          <td
            [ngStyle]="{ 'border-bottom-color': '#B1A9A9' }"
            [style.text-align]="'center'"
            [style.cursor]="'pointer'"
          >
            <div class="table-action">
              <img (click)="showMoreModal(row.id)" [src]="eyeIcon" alt="icon" />
            </div>
          </td>
        </tr>
      </app-table>
      <nz-pagination
        style="display: flex; justify-content: end; margin-top: 10px"
        [(nzPageIndex)]="currentPage"
        [nzPageIndex]="currentPage"
        [nzPageSize]="pageSize"
        [nzTotal]="totalPages * pageSize"
        [nzPageSize]="pageSize"
        nzShowSizeChanger
        [nzResponsive]="false"
        [nzHideOnSinglePage]="false"
        (nzPageSizeChange)="onPageSizeChange($event)"
        (nzPageIndexChange)="onPageChange($event)"
      >
      </nz-pagination>
    </div>

    <!-- -------Only shows on small screens...... -->
    <div class="mobile-table">
      <app-table
        [bodyBackground]="'#FFF'"
        [showPagination]="true"
        [tableHeaders]="mobileHeaders"
        [tableData]="personData"
        [nzLoading]="loading"
      >
        <tr *ngFor="let row of personData; let i = index">
          <td
            [ngStyle]="{ 'border-bottom-color': '#B1A9A9' }"
            [style.text-align]="'left'"
          >
            <div class="flex-table-data">
              <div
                [ngClass]="{
                  'status-circle': true,
                  completed: row.status === 'completed',
                  pending: row.status === 'pending',
                  failed: row.status === 'failed'
                }"
              ></div>
              <div class="status-text">
                <span class="hidden-status-text">
                  {{ row.status | capitalize }}
                </span>
              </div>
            </div>
          </td>
          <td
            [ngStyle]="{ 'border-bottom-color': '#B1A9A9' }"
            [style.text-align]="'center'"
          >
            {{ row.amount }}
          </td>
          <td
            [ngStyle]="{ 'border-bottom-color': '#B1A9A9' }"
            [style.text-align]="'center'"
            [style.cursor]="'pointer'"
          >
            <div class="table-action">
              <img (click)="showMoreModal(row.id)" [src]="eyeIcon" alt="icon" />
            </div>
          </td>
        </tr>
      </app-table>
      <nz-pagination
        style="display: flex; justify-content: end; margin-top: 10px"
        [(nzPageIndex)]="currentPage"
        [nzPageIndex]="currentPage"
        [nzPageSize]="pageSize"
        [nzTotal]="totalPages * pageSize"
        [nzPageSize]="pageSize"
        nzShowSizeChanger
        [nzResponsive]="false"
        [nzHideOnSinglePage]="false"
        (nzPageSizeChange)="onPageSizeChange($event)"
        (nzPageIndexChange)="onPageChange($event)"
      >
      </nz-pagination>
    </div>
  </div>

  <nz-modal
    class="container"
    [(nzVisible)]="isViewMore"
    nzTitle="User Transactions"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzZIndex]="1000"
    [nzCentered]="true"
  >
    <ng-container *nzModalContent>
      <p>Date: {{ modalData?.date }}</p>
      <p>Customer: {{ modalData?.destination }}</p>
      <p>Quantity: {{ modalData?.reference }}</p>
    </ng-container>
  </nz-modal>

  <!-- -------Withdraw Modal-->
  <nz-modal
    [(nzVisible)]="isWithDrawVisible"
    [nzTitle]="''"
    [nzFooter]="null"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzCancelText]="null"
    [nzZIndex]="1000"
    [nzCloseIcon]="''"
    [nzWidth]="'500px'"
    [nzCentered]="true"
  >
    <ng-container *nzModalContent>
      <div class="modal-header">
        <div class="modal-title">{{ modalTitle }}</div>
        <img (click)="handleOk()" [src]="closeIcon" alt="icon" />
      </div>
      <!-- Use ngIf to show content based on the current step -->
      <form
        *ngIf="currentStep === 1"
        class="field-wrap"
        [formGroup]="withdrawalForm"
      >
        <app-select-dropdown
          [label]="'Method'"
          formControlName="method"
          [size]="'large'"
          [options]="methodOptions"
        ></app-select-dropdown>
        <div *ngIf="methodError">
          <p class="error-message">Method is required</p>
        </div>
        <app-select-dropdown
          [label]="'Wallet'"
          formControlName="wallet"
          [size]="'large'"
          [options]="walletOptions"
        ></app-select-dropdown>
        <div *ngIf="walletError">
          <p class="error-message">Wallet is required</p>
        </div>
        <app-input
          formControlName="amount"
          [type]="'number'"
          [label]="'Amount'"
        ></app-input>
        <div *ngIf="amountError">
          <p class="error-message">Amount is required</p>
        </div>
        <div class="modal-button-wrap">
          <primary-button
            (clickEvent)="onNextClick()"
            [text]="'Next'"
            [type]="'button'"
            [width]="'200px'"
            [margin]="'0 auto'"
          ></primary-button>
        </div>
      </form>

      <!-- Handle flow for withdrawal with Airtiem top up -->
      <app-airtime-top-up
        (modalTitleEmitter)="handleModalTitle($event)"
        (modalCloseWithOkEmitter)="handleOk()"
        [initialPayload]="initialWithdrawPayload"
        (modalCloseWithCancelEmitter)="handleCancel()"
        *ngIf="currentStep === 2 && withdrawalMethod === 'airtime'"
      ></app-airtime-top-up>
    </ng-container>
  </nz-modal>
</app-page-wrap>
