@import "../../../../styles/base/mixins.less";
@import "../../../../styles/base/variables.less";

.wallet-container {
  width: 100%;
  padding: 30px 0;
}

.withdraw-btn-wrap{
  width: 150px;
}



.card-section {
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media screen and (max-width: @medium-screen) {
    max-width: 100%;
    grid-template-columns: 1fr;
  }
}

.card-content {
  padding: 20px;
  .flex-center(row, space-between, flex-end);
  .left {
    .flex-center(column, space-between, flex-start);
    gap: 10px;
  }
  .wallet-balance {
    height: 40px;
    .flex-center(row, space-between, center);
    gap: 5px;
    & h4 {
      font-size: 1.4rem;
      font-weight: bold;
      margin: 0.5rem 0;
      white-space: nowrap;
      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
    }
    .amount-display {
      text-align: center;
      .flex-center(row, space-between, center);
      .asteriks {
        font-size: 32px;
        width: fit-content;
        padding-top: 20px;
      }
    }
    .togglers {
      margin-left: 20px;
      .flex-center(row, space-between, center);
    }
    & .eyeIcon {
      cursor: pointer;
      color: @color-brand-gold;
      font-size: 1.5rem;
    }
  }
  h6 {
    font-size: 1rem;
    white-space: nowrap;
    @media screen and (max-width: 1106px) {
      font-weight: 400;
    }

    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
    }
  }

  @media screen and (max-width: 1106px) {
    transform: scale(1.05);
  }

  @media screen and (max-width: @small-screen) {
    transform: scale(1);
    padding: 10px;
  }
}
.form-section {
  margin: 40px 0;
  & h2 {
    .Title-Text();
  }
}
.filter-form{
  padding: 20px;
  border-radius: 5px;
  .flex-center(column, space-around, flex-end);
  gap: 10px;
  background-color: @color-light;
  @media screen and (max-width: @small-screen) {
    padding: 10px;
  }
}

.form-wrap {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  @media screen and (max-width: @medium-screen) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  width: 210px;
  gap: 0.7rem;
}

.desktop-table {
  @media screen and (max-width: @medium-screen) {
    display: none;
  }

  .flex-table-data {
    display: flex;
    align-items: bottom;
    position: relative;
  }
}

.mobile-table {
  display: none;
  @media screen and (max-width: @medium-screen) {
    display: block;
  }
  .flex-table-data {
    display: flex;
    align-items: bottom;
    position: relative;
  }
}

.status-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #20b538;
  margin-right: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.completed {
  background-color: #20b538;
}

.pending {
  background-color: orange;
}

.failed {
  background-color: red;
}
.status-text {
  margin-left: 20px;
}

.table-action {
  width: 100%;
  .flex-center(row, center, center);

  & img {
    @media screen and (max-width: @medium-screen) {
      width: 15px;
      height: 15px;
      object-fit: cover;
    }
  }
}

// ---------Modal--------

.modal-header {
  width: 100%;
  margin-bottom: 1rem;
  .flex-center(row, space-between, center);
  .modal-title {
    .modalTitle;
    flex: 1;
    text-align: center;
  }
}

.field-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;

}

.modal-button-wrap {
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-text-wrap {
  .flex-center(row, space-between, center);
  margin-bottom: 10px;

  & h6 {
    .modaltext();
  }
  & p {
    .modalSubtext();
  }
}

.success-response-modal-wrap {
  .flex-center(column, center, center);
  border-radius: 10px;
  gap: 20px;
  & p {
    .paragraph-text();
    font-size: 1rem !important;
  }

  & img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
}
.failed-response-modal-wrap {
  .flex-center(column, center, center);
  gap: 2px;

  .failed-texts{
    margin: 10px 0;
  }

  & h5{
    text-align: center;
    font-size: 16px;
  }
  & p {
    text-align: center;
    color: @color-text-primary;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  & img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
}

.error-message {
  color: red;
  margin-top: 5px;
}
