<div class="change-password">
  <div class="heading">
    <div class="heading-icon">
      <img src="../../../../assets/svg/lock.svg" alt="" />
    </div>
    <div class="heading-title"><h2>Password Settings</h2></div>
  </div>
  <form class="form" [formGroup]="Form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <app-input
        formControlName="currentPassword"
        [type]="isCurrentPasswordVisible ? 'text' : 'password'"
        [label]="'Current Password'"
        [placeholder]="'Current Password'"
      ></app-input>
      <div class="eyeIcon">
        <span
          class="eyeicon"
          nz-icon
          nzType="eye"
          nzTheme="outline"
          *ngIf="!isCurrentPasswordVisible"
          (click)="toggleCurrentPasswordVisibilty()"
        ></span>
        <span
          class="eyeicon"
          nz-icon
          nzType="eye-invisible"
          nzTheme="outline"
          *ngIf="isCurrentPasswordVisible"
          (click)="toggleCurrentPasswordVisibilty()"
        ></span>
      </div>
    </div>
    <div class="error" *ngIf="Form.get('currentPassword').touched && Form.get('currentPassword').errors?.['required']">
      Confirm Password is required.
    </div>
    <div class="form-group">
      <app-input
        formControlName="newPassword"
        [type]="isNewPasswordVisible ? 'text' : 'password'"
        [label]="'New Password'"
        [placeholder]="'New Password'"
        (blurEvent)="onBlur('newPassword')"
      ></app-input>
      <div class="eyeIcon">
        <span
          class="eyeicon"
          nz-icon
          nzType="eye"
          nzTheme="outline"
          *ngIf="!isNewPasswordVisible"
          (click)="toggleNewPasswordVisibilty()"
        ></span>
        <span
          class="eyeicon"
          nz-icon
          nzType="eye-invisible"
          nzTheme="outline"
          *ngIf="isNewPasswordVisible"
          (click)="toggleNewPasswordVisibilty()"
        ></span>
      </div>
    </div>
    <div class="error" *ngIf="Form.get('newPassword').errors?.['minlength']">
      Password must be at least 8 characters long.
    </div>
    <div class="error" *ngIf="Form.get('newPassword').touched && Form.get('newPassword').errors?.['required']">
      New Password is required.
    </div>
    <div class="form-group last-group">
      <app-input
        formControlName="confirmPassword"
        [type]="isConfirmPasswordVisible ? 'text' : 'password'"
        [label]="'Confirm Password'"
        [placeholder]="'Confirm Password'"
        (blurEvent)="onBlur('confirmPassword')"
      ></app-input>
      <div class="eyeIcon">
        <span
          class="eyeicon"
          nz-icon
          nzType="eye"
          nzTheme="outline"
          *ngIf="!isConfirmPasswordVisible"
          (click)="toggleConfirmPasswordVisibilty()"
        ></span>
        <span
          class="eyeicon"
          nz-icon
          nzType="eye-invisible"
          nzTheme="outline"
          *ngIf="isConfirmPasswordVisible"
          (click)="toggleConfirmPasswordVisibilty()"
        ></span>
      </div>
      <!-- Display error message if both fields are filled and passwords do not match -->
    </div>
    <div class="error" *ngIf="Form.get('confirmPassword').touched && Form.get('confirmPassword').errors?.['required']">
      Confirm Password is required.
    </div>
      <div
        class="error"
        *ngIf="
          Form.get('newPassword').value &&
          Form.get('confirmPassword').value &&
          Form.hasError('passwordMismatch')
        "
      >
        Passwords do not match
      </div>
    <div class="btn">
      <primary-button  [text]="'Save'" ></primary-button>
    </div>

    <!-- -----------Modal Section------------- -->
    <nz-modal
      [nzVisible]="isVisible"
      [nzZIndex]="1000"
      [nzCentered]="true"
      [nzFooter]="null"
      [nzClosable]="false"
      (nzOnCancel)="handleCancel()"
    >
      <ng-container *nzModalContent>
        <div class="modal-wrapper">
          <div class="modal-icon">
            <img src="{{ modalIcon }}" alt="" />
          </div>

          <div class="modal-title">
            {{ modalTitle }}
          </div>

          <div class="btn">
            <primary-button
              [text]="'Ok'"
              [type]="'button'"
              [buttonWidth]="'341'"
              (click)="handleCancel()"
            ></primary-button>
          </div>
        </div>
      </ng-container>
    </nz-modal>
  </form>
</div>
